@use "src/global_styles/basic_layouts";
@use "src/global_styles/basic_visual";
@use "src/global_styles/palette";

.headerContainer {
    @extend %grid5;
    @extend %shadow-sm;
    background-color: palette.$white;
    border-radius: 20px;
}

$coin-size: 150px;

.coin {
    height: $coin-size;
    width: $coin-size;
}

.headerTitleContainer {
    @extend %grid5;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.headerTitle {
    font-size: 200pt;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 100px;
    color: palette.$hardGray;
}

.headerColor {
    color: palette.$mediumForestGreen;
    font-size: 400pt;
}

.headerTitleGray {
    @extend .headerTitle;
    color: palette.$hardGray;
}

.headerTitleBlue {
    @extend .headerTitle;
    color: palette.$deepBlue;
    text-wrap: none;
}

.sloganContainer {
    margin-top: 30px;
}


.sloganText {
    font-weight: 600;
    color: palette.$hardGray;
    text-align: center;
}

.sloganItalic {
    font-style: italic;
}

.aesthetic {
    color: palette.$mediumForestGreen;
    font-weight: bold;
}

.useCaseContainer {
    @extend %grid5;
}

.useCaseText {
    text-align: center;
}

.useCasePart {
    align-self: center;
    padding-bottom: 2px;
    margin: 8px 20px;
    font-weight: bold;
    display: inline-block;
    color: palette.$mediumPink;
    border-bottom: 1px solid palette.$softGray;
}

.buttonContainer {
    @extend %grid5;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: palette.$mediumForestGreen;
    color: palette.$white;
    font-weight: bold;
    font-size: 15pt;
    cursor: pointer;
}

.button:hover {
    color: palette.$white !important;
}

.comparisonContainer {
}

.comparisonTitle {
    @extend %grid5;
    font-weight: bold;
    color: palette.$hardGray;
    margin-bottom: 20px;
}

.compCodeTitle {
    color: palette.$mediumForestGreen;
    font-weight: bold;
}

.redCodeTitle {
    @extend .compCodeTitle;
    color: palette.$danger;
    margin-bottom: 30px;
}

.regCodeContainer {

}

.redExText {
    color: palette.$dangerDark;
    //font-size: 11pt;
    font-weight: 500;
}

.explanationText {
    margin-top: 10px;
    color: palette.$darkForestGreen;
    //font-size: 11pt;
    font-weight: 500;
}

.vsContainer {
    @extend %flexRow;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.vsBar {
    display: flex;
    margin: 0 20px;
    flex: 1;
    height: 1px;
    background-color: palette.$semiSoftGray;
}

.vsText {
    font-weight: bold;
    color: palette.$lightGray;

}

.orchidCodeContainer {

}

.orchidCodeTitle {
    color: palette.$mediumForestGreen;
}

.kTexContainer {
    @extend %flexRow;
}

.kTexRight {
    @extend %flexGrid1;
}

.separator {
    height: 1px;
    background-color: palette.$semiSoftGray;
    margin: 40px 0;
}

.finalPlugContainer {
    @extend %grid5;
    margin-bottom: 40px;
}

.finalPlug1 {
    font-weight: bold;
    color: palette.$hardGray;
    text-align: center;
    line-height: 20pt;
    margin-bottom: 15px;
}

.finalPlug2 {
    @extend .finalPlug1;
    color: palette.$mediumPink;
}


